@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --primary-color: #E93222;
    --secondary-color: #204BB4;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #901B14;
    --quinary-color: #000666;
}
.navbar.navbar-light {
    background-color: var(--quaternary-color) !important;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.navbar.navbar-light a{
    color: var(--tertiary-color) !important;
    font-family: Poppins, sans-serif;
}

.navbar.navbar-light .navbar-brand img{
    height: 60px;
}