@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #F1DCDC;
    --secondary-color: #E06B9B;
    --tertiary-color: #334B1C;
    --fourth-color: #DEE373;
}

.scrolled {
    top:-50px !important;
    transition: .6s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

strong {
    font-weight: 600;
}

.btn-custom {
    border-radius: 50px !important;
}

.px-10 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.pt-10 {
    padding-top: 200px !important;
}

.navbar.navbar-light {
    background-color: var(--primary-color) !important;
    transition: .6s ease;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}

.logo-container {
    position: absolute;
    z-index: 10;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border:1px solid red; */
    height: 150px;
    width: 150px;
}

.topbar {
    position: absolute;
    top:0px;
    left:0;
    width: 100vw;
    background-color: var(--tertiary-color) !important;
}

.carousel-container {
    /* border:1px solid red; */
    height: 50px;
}

.logo-container img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
}

.carousel-item img {
    padding-top: 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.hero-carousel {
    height: 80vh;
}

section {
    height: 110vh;
    width: 100%;
}

.hero-section {
    background-color: var(--primary-color);
}

.testimonial {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}

#gallery img {
    border: 3px solid #AF4AAD;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 70%;
  }
  
  #gallery img:hover {
    transform: scale(1.1); /* Slight zoom effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow */
  }

.new-section {
    height: 150vh;
    background-color: var(--fourth-color);
}

.new-section-again {
    height: 100vh;
    background-color: var(--fourth-color);
}

.last-section {
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: var(--primary-color);
}

.card {
    width: 390px; /* Set desired width for each product card */
    height: 450px; /* Set desired height for each product card */
    margin: 30px;
    display: flex;
    content: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: var(--primary-color);
}

.card img {
    width: 250px; /* Ensures image fits card width */
    height: 250px; /* Set height for images */
    object-fit: cover; /* Ensures image maintains aspect ratio */
}
.custom-card {
    height: 50vh;
    min-width: 20vw;
    padding:10px;
    border-right: 1px solid black;
}

.modal-content{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.modal-header h5{
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.custom-card__header-img {
    height: 30vh;
    width: 21vw;
}

.custom-card__header-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.custom-card__footer-title {
    width: 100%;
}

.upright {
    text-orientation:sideways;
    writing-mode: vertical-lr;
}

.slide-controls {
    height: 70px;
   padding:20px;
   background-color: var(--fourth-color);
   border:0px;
   border-radius: 10px;
   box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}

.container {
    font-family: 'Poppins', sans-serif;
}
